.containerPrincipalLogin{
    width: 100vw;
    height: 100vh;
    margin: 0;
}
.containerFormulario{
    background-color : rgba(6, 6, 6, 0.929);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 3rem;
}

.linksRedirect{
    color: rgb(63, 171, 228);
    text-decoration: none;
}

.linksRedirect:hover{
    color: rgb(34, 91, 121);
}

@media (max-width:768px){
    .containerPrincipalLogin{
        background-image: url(../assets/images/bannerLogin.jpg);
        background-position: center;
        background-size: cover;
    }
    .containerFormulario{
        background-color: rgba(6, 6, 6, 0.846);
        padding-top: 0;
      }
    
}