.containerPrincipalCamper{
    background-image: url(../../Login/assets/images/bannerLogin.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.sombra{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.257);
}