.imageSvg{
    color: rgb(63, 171, 218);
    width: 8rem;
    height: 8rem;
}
.titulos{
    font-family: "Good_Times";
    font-size: 1.3rem;
}

.subtit_usu{
    color: rgb(63, 171, 218);
}

@media (max-width:768px){
    .imageSvg{
        width: 5rem;
        height: 5rem;
    }
}