.logoIncidents{
    width: 5rem;
}
.logoInfoProyecto{
    width: 4rem;
}

.logoTitulos{
    width: 3.5rem;
    height: 3.5rem;
}

@media (max-width:768px){
    .logoTitulos{
        width: 3rem;
        height: 3rem;
    }
    .logoIncidents{
        width: 3.2rem;
    }
    .logoInfoProyecto{
        width: 2.8rem;
    }
    
}